.chat-bar--inactive.chat-bar--left {
	@include transform(translateX(-75px));	
}

.chat-bar--inactive.chat-bar--right {
	@include transform(translateX(+75px));	
}

.chat-bar {

	width: 100%;

	margin: auto;

	padding: 40px 20px;
	@include bp-w-md {
		padding: 120px 20px;
	}

	opacity: 1;

	&--inactive {
		opacity: 0;
	}

	&__content {
		max-width: $max-width;
		display: block;
		margin: auto;
	}

	&__title {
		margin: 0 0 10px 0;
	}

	&__body {
		@include font-size(22px);
		margin: 0 0 30px 0 ;
	}

	.feature-box {
		margin-bottom: $gutter-width;
		@include bp-w-md {
			margin-bottom: 0;
		}
	}

	&:nth-of-type(2n+0) {
		background-color: palette-get(grey, extra-light);
	}

}