.footer {

	padding: 40px 20px;

	// border-top: 1px solid palette-get(purple, faint);

	box-shadow: 0 0px 15px 0 #333;

	background-color: palette-get(purple, extra-faint);

	&__logo, &__title {
		vertical-align: top;
		display: inline-block;
	}

	&__left {
		text-align: center;
	}

	&__logo {
		width: 45px;
		height: 45px;
		display: inline-block;
		position: relative;
		top: +15px;
	}

	&__title {
		position: relative;
		margin-left: 25px;
		text-align: left;

		h1, p { margin: 0; }
	}

	&__content {
		max-width: $max-width;
		margin: auto;
	}

	.button {
		display: block;
		margin: 10px auto;
	}

}