.hero {

	position: relative;

	height: 100%;

	background-image: url('../images/Green-Grass-26-1200.png');

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 100%;

	@include bp-w-md {
		background-position: 0 108%;
	}

	// box-shadow: 0 0px 15px 0 #333;


	&__content {
		position: static;

		@include bp-w-md {
			position: absolute;
			top: 20%;
			left: 18%;
		}

	}

	&__logo, &__text {

		display: block;
		@include bp-w-md {
			display: inline-block;
			vertical-align: top;
		}
		
	}

	&__logo {

		text-align: center;
		@include bp-w-md {
			text-align: left;
		}

		img {

			display: inline-block;
			margin: 100px auto 50px auto;
			height: 100px;


			position: relative;

			@include bp-w-md {
				height: 150px;
				margin: auto;
				top: +45px;
				left: 0;
			}
			
			
			
			@include animation(bounce 2.5s ease-in-out infinite);
		}
	}

	&__text {

		margin: 0;
		@include bp-w-md {
			margin: 0 0 0 45px;
		}

		text-align: center;
		@include bp-w-md {
			text-align: left;
		}

		h1, p { 
			text-align: center;
			@include bp-w-md {
				text-align: left;
			}
		}

		h1 {
			margin: 0;
			opacity: 0.87;
			@include font-size(36px);
			@include bp-w-md {
				@include font-size(84px);
			}
		}

		p {
			font-family: Futura;

			margin: 3px;

			&:first-of-type { margin-top: 15px; }
			&:last-of-type { margin-bottom: 15px; }

			opacity: 0.77;
			padding-left: 4px;
			line-height: 125%;
			@include font-size(22px);
			@include bp-w-md {
				margin: 0;
				@include font-size(28px);
			}
		}
	}

	.button {
		display: block;
		margin: 35px auto;
		@include bp-w-md {
			display: inline-block;
			margin: 25px 0 0 5px;
		}
	}

}