.info {

	width: 100%;
	padding: 0px 20px 50px 20px;
	@include bp-w-md {
		padding: 0 20px 120px 20px;
	}

	&__content {
		max-width: $max-width;
		display: block;
		margin: auto;
	}

	.grid__col:first-of-type {
		margin-bottom: $gutter-width;
	}

	&__button {
		width: 100%;
		.big-button {
			margin: 120px auto;
			@include bp-w-md {
				margin: calc(37.5% - 30px) auto auto auto;
			}
		}
	}

	.chat-box {
		display: block;
		text-align: center;
		margin: auto auto 20px auto;
		@include bp-w-md() {
			margin: auto auto 20px auto;
		}
	}

}