.pitch {


	width: 100%;

	background-color: palette-get(grey, extra-light);
	
	padding: 60px 20px;
	@include bp-w-md {
		padding: 120px 20px;
	}
	

	&__content {
		max-width: $max-width;
		margin: auto;
		display: block;
	}

	.grid__col:last-child {
		border-left: 2px solid palette-get(purple);

	}

	p:first-child { margin-top: 0; }
	p:last-child { margin-bottom: 0; }

	&__image {
		
		img {
			width: 200px;
			height: 200px;
			margin: 0px auto 60px auto;
			@include bp-w-md {
				margin-top: 30;
				width: 300px;
				height: 300px;
			}
			display: block;
			
			border-radius: 100%;
		}
	}

}