* {
	@include transition(all 0.3s);
}

html, body { 
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

.wrapper {

	width: 100%;
	height: 100%;
	
	overflow-y: auto;

	&__clear-header {
		width: 100%;
		height: 100%;
		padding-top: $header-height;
	}
}

#site {
	width: 100%;
	height: 100%;
}