@charset "UTF-8";
@-webkit-keyframes bounce {
  0% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  12.5% {
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  25% {
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }
  37.5% {
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  50% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  62.5% {
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  75% {
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  87.5% {
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  100% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  12.5% {
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  25% {
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }
  37.5% {
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  50% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  62.5% {
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  75% {
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  87.5% {
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  100% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-ms-keyframes bounce {
  0% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  12.5% {
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  25% {
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }
  37.5% {
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  50% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  62.5% {
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  75% {
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  87.5% {
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  100% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-o-keyframes bounce {
  0% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  12.5% {
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  25% {
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }
  37.5% {
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  50% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  62.5% {
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  75% {
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  87.5% {
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  100% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes bounce {
  0% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  12.5% {
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  25% {
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }
  37.5% {
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  50% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  62.5% {
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  75% {
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  87.5% {
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  100% {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*-----------------------------------*
  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $grid-namespace and $grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $col-groups(n) adjusts column divisions.
  For example, $col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/
.grid {
  list-style: none;
  margin-left: -25px; }
  .grid > .grid__col--2-of-2, .grid > .grid__col--3-of-3, .grid > .grid__col--4-of-4, .grid > .grid__col--5-of-5, .grid > .grid__col--6-of-6, .grid > .grid__col--8-of-8, .grid > .grid__col--12-of-12 {
    width: 100%; }
  .grid > .grid__col--1-of-2, .grid > .grid__col--2-of-4, .grid > .grid__col--3-of-6, .grid > .grid__col--4-of-8, .grid > .grid__col--6-of-12 {
    width: 50%; }
  .grid > .grid__col--1-of-3, .grid > .grid__col--2-of-6, .grid > .grid__col--4-of-12 {
    width: 33.33333%; }
  .grid > .grid__col--2-of-3, .grid > .grid__col--4-of-6, .grid > .grid__col--8-of-12 {
    width: 66.66667%; }
  .grid > .grid__col--1-of-4, .grid > .grid__col--2-of-8, .grid > .grid__col--3-of-12 {
    width: 25%; }
  .grid > .grid__col--3-of-4, .grid > .grid__col--6-of-8, .grid > .grid__col--9-of-12 {
    width: 75%; }
  .grid > .grid__col--push-2-of-2, .grid > .grid__col--push-3-of-3, .grid > .grid__col--push-4-of-4, .grid > .grid__col--push-5-of-5, .grid > .grid__col--push-6-of-6, .grid > .grid__col--push-8-of-8, .grid > .grid__col--push-12-of-12 {
    margin-left: 100%; }
  .grid > .grid__col--push-1-of-2, .grid > .grid__col--push-2-of-4, .grid > .grid__col--push-3-of-6, .grid > .grid__col--push-4-of-8, .grid > .grid__col--push-6-of-12 {
    margin-left: 50%; }
  .grid > .grid__col--push-1-of-3, .grid > .grid__col--push-2-of-6, .grid > .grid__col--push-4-of-12 {
    margin-left: 33.33333%; }
  .grid > .grid__col--push-2-of-3, .grid > .grid__col--push-4-of-6, .grid > .grid__col--push-8-of-12 {
    margin-left: 66.66667%; }
  .grid > .grid__col--push-1-of-4, .grid > .grid__col--push-2-of-8, .grid > .grid__col--push-3-of-12 {
    margin-left: 25%; }
  .grid > .grid__col--push-3-of-4, .grid > .grid__col--push-6-of-8, .grid > .grid__col--push-9-of-12 {
    margin-left: 75%; }
  .grid > .grid__col--pull-2-of-2, .grid > .grid__col--pull-3-of-3, .grid > .grid__col--pull-4-of-4, .grid > .grid__col--pull-5-of-5, .grid > .grid__col--pull-6-of-6, .grid > .grid__col--pull-8-of-8, .grid > .grid__col--pull-12-of-12 {
    margin-left: -100%; }
  .grid > .grid__col--pull-1-of-2, .grid > .grid__col--pull-2-of-4, .grid > .grid__col--pull-3-of-6, .grid > .grid__col--pull-4-of-8, .grid > .grid__col--pull-6-of-12 {
    margin-left: -50%; }
  .grid > .grid__col--pull-1-of-3, .grid > .grid__col--pull-2-of-6, .grid > .grid__col--pull-4-of-12 {
    margin-left: -33.33333%; }
  .grid > .grid__col--pull-2-of-3, .grid > .grid__col--pull-4-of-6, .grid > .grid__col--pull-8-of-12 {
    margin-left: -66.66667%; }
  .grid > .grid__col--pull-1-of-4, .grid > .grid__col--pull-2-of-8, .grid > .grid__col--pull-3-of-12 {
    margin-left: -25%; }
  .grid > .grid__col--pull-3-of-4, .grid > .grid__col--pull-6-of-8, .grid > .grid__col--pull-9-of-12 {
    margin-left: -75%; }
  .grid > .grid__col--1-of-5 {
    width: 20%; }
  .grid > .grid__col--push-1-of-5 {
    margin-left: 20%; }
  .grid > .grid__col--pull-1-of-5 {
    margin-left: -20%; }
  .grid > .grid__col--2-of-5 {
    width: 40%; }
  .grid > .grid__col--push-2-of-5 {
    margin-left: 40%; }
  .grid > .grid__col--pull-2-of-5 {
    margin-left: -40%; }
  .grid > .grid__col--3-of-5 {
    width: 60%; }
  .grid > .grid__col--push-3-of-5 {
    margin-left: 60%; }
  .grid > .grid__col--pull-3-of-5 {
    margin-left: -60%; }
  .grid > .grid__col--4-of-5 {
    width: 80%; }
  .grid > .grid__col--push-4-of-5 {
    margin-left: 80%; }
  .grid > .grid__col--pull-4-of-5 {
    margin-left: -80%; }
  .grid > .grid__col--1-of-6 {
    width: 16.66667%; }
  .grid > .grid__col--push-1-of-6 {
    margin-left: 16.66667%; }
  .grid > .grid__col--pull-1-of-6 {
    margin-left: -16.66667%; }
  .grid > .grid__col--5-of-6 {
    width: 83.33333%; }
  .grid > .grid__col--push-5-of-6 {
    margin-left: 83.33333%; }
  .grid > .grid__col--pull-5-of-6 {
    margin-left: -83.33333%; }
  .grid > .grid__col--1-of-8 {
    width: 12.5%; }
  .grid > .grid__col--push-1-of-8 {
    margin-left: 12.5%; }
  .grid > .grid__col--pull-1-of-8 {
    margin-left: -12.5%; }
  .grid > .grid__col--3-of-8 {
    width: 37.5%; }
  .grid > .grid__col--push-3-of-8 {
    margin-left: 37.5%; }
  .grid > .grid__col--pull-3-of-8 {
    margin-left: -37.5%; }
  .grid > .grid__col--5-of-8 {
    width: 62.5%; }
  .grid > .grid__col--push-5-of-8 {
    margin-left: 62.5%; }
  .grid > .grid__col--pull-5-of-8 {
    margin-left: -62.5%; }
  .grid > .grid__col--7-of-8 {
    width: 87.5%; }
  .grid > .grid__col--push-7-of-8 {
    margin-left: 87.5%; }
  .grid > .grid__col--pull-7-of-8 {
    margin-left: -87.5%; }
  .grid > .grid__col--1-of-12 {
    width: 8.33333%; }
  .grid > .grid__col--push-1-of-12 {
    margin-left: 8.33333%; }
  .grid > .grid__col--pull-1-of-12 {
    margin-left: -8.33333%; }
  .grid > .grid__col--2-of-12 {
    width: 16.66667%; }
  .grid > .grid__col--push-2-of-12 {
    margin-left: 16.66667%; }
  .grid > .grid__col--pull-2-of-12 {
    margin-left: -16.66667%; }
  .grid > .grid__col--5-of-12 {
    width: 41.66667%; }
  .grid > .grid__col--push-5-of-12 {
    margin-left: 41.66667%; }
  .grid > .grid__col--pull-5-of-12 {
    margin-left: -41.66667%; }
  .grid > .grid__col--7-of-12 {
    width: 58.33333%; }
  .grid > .grid__col--push-7-of-12 {
    margin-left: 58.33333%; }
  .grid > .grid__col--pull-7-of-12 {
    margin-left: -58.33333%; }
  .grid > .grid__col--10-of-12 {
    width: 83.33333%; }
  .grid > .grid__col--push-10-of-12 {
    margin-left: 83.33333%; }
  .grid > .grid__col--pull-10-of-12 {
    margin-left: -83.33333%; }
  .grid > .grid__col--11-of-12 {
    width: 91.66667%; }
  .grid > .grid__col--push-11-of-12 {
    margin-left: 91.66667%; }
  .grid > .grid__col--pull-11-of-12 {
    margin-left: -91.66667%; }
  .grid .grid__col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    min-height: 1px;
    padding-left: 25px;
    vertical-align: top; }
    @media (max-width: 700px) {
      .grid .grid__col {
        display: block;
        margin-left: 0;
        margin-right: 0;
        width: auto; } }
    @media (max-width: 700px) and (min-width: 480px) {
      .grid .grid__col[class*="grid__col--m-"] {
        display: inline-block; }
      .grid .grid__col.grid__col--m-1-of-2, .grid .grid__col.grid__col--m-2-of-4 {
        width: 50%; }
      .grid .grid__col.grid__col--m-1-of-3 {
        width: 33.33333%; }
      .grid .grid__col.grid__col--m-2-of-3 {
        width: 66.66667%; }
      .grid .grid__col.grid__col--m-1-of-4 {
        width: 25%; }
      .grid .grid__col.grid__col--m-3-of-4 {
        width: 75%; } }
    @media (max-width: 480px) {
      .grid .grid__col[class*="grid__col--s-"] {
        display: inline-block; }
      .grid .grid__col.grid__col--s-1-of-2, .grid .grid__col.grid__col--s-2-of-4 {
        width: 50%; }
      .grid .grid__col.grid__col--s-1-of-3 {
        width: 33.33333%; }
      .grid .grid__col.grid__col--s-2-of-3 {
        width: 66.66667%; }
      .grid .grid__col.grid__col--s-1-of-4 {
        width: 25%; }
      .grid .grid__col.grid__col--s-3-of-4 {
        width: 75%; } }
  .grid .grid__col--centered {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .grid .grid__col--d-first {
    float: left; }
  .grid .grid__col--d-last {
    float: right; }
  .grid.grid--no-gutter {
    margin-left: 0;
    width: 100%; }
    .grid.grid--no-gutter > * {
      padding-left: 0; }
    .grid.grid--no-gutter .grid__col--span-all {
      margin-left: 0;
      width: 100%; }
  .grid .grid__col--ab {
    vertical-align: bottom; }
  .grid .grid__col--am {
    vertical-align: middle; }

* {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto; }
  .wrapper__clear-header {
    width: 100%;
    height: 100%;
    padding-top: 60px; }

#site {
  width: 100%;
  height: 100%; }

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: Futura;
  line-height: 165%; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

li {
  margin: 0;
  padding: 0; }

p {
  font-family: Garamond;
  font-size: 18px;
  font-size: 1.125rem; }
  @media only screen and (min-width: 700px) {
    p {
      font-size: 20px;
      font-size: 1.25rem; } }

h3 {
  font-family: Futura;
  font-size: 20px;
  font-size: 1.25rem;
  color: #355BD6; }
  @media only screen and (min-width: 700px) {
    h3 {
      font-size: 24px;
      font-size: 1.5rem; } }

.button, .big-button {
  cursor: pointer;
  text-align: center; }

.button {
  width: 120px;
  height: 40px;
  padding: 4px 6px;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: Futura;
  color: #355BD6;
  border: 2px solid #355BD6; }
  .button:hover {
    background-color: #E2690E;
    border-color: #E2690E;
    color: white; }

.big-button {
  cursor: pointer;
  width: 180px;
  height: 60px;
  padding: 9px 6px;
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
  font-family: Futura;
  color: white;
  background-color: #355BD6; }
  .big-button:hover {
    background-color: #E2690E; }

.feature-box {
  width: 100%;
  cursor: pointer;
  padding-top: 100%;
  overflow: hidden;
  content: "";
  position: relative; }
  .feature-box--1-to-1 {
    padding-top: 100%; }
  .feature-box--4-to-3 {
    padding-top: 75%; }
  .feature-box > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .feature-box__background {
    z-index: 0;
    background-size: cover; }
  .feature-box__title > div, .feature-box__body > div, .feature-box__misc > div {
    width: 100%;
    height: 100%;
    display: table; }
    .feature-box__title > div > *, .feature-box__body > div > *, .feature-box__misc > div > * {
      display: table-cell;
      vertical-align: middle; }
  .feature-box__title h1, .feature-box__body p {
    padding: 15px 20px; }
  .feature-box__title {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 1; }
    .feature-box__title h1 {
      color: white;
      line-height: 120%;
      text-align: center;
      font-size: 32px;
      font-size: 2rem; }
    .feature-box:hover .feature-box__title {
      opacity: 0; }
  .feature-box__body {
    background-color: rgba(226, 105, 14, 0.85);
    opacity: 0;
    z-index: 1; }
    .feature-box:hover .feature-box__body {
      opacity: 1; }
    .feature-box__body p {
      height: 100%;
      overflow: hidden;
      color: white;
      font-size: 20px;
      font-size: 1.25rem; }

.chat-box {
  font-size: 24px;
  font-size: 1.5rem;
  padding: 6px 0;
  border-radius: 22px; }
  @media only screen and (min-width: 700px) {
    .chat-box {
      padding: 8px 0;
      border-radius: 28px;
      font-size: 30px;
      font-size: 1.875rem; } }
  .chat-box h1 {
    color: #55CE0F;
    padding: 0;
    margin: 0;
    display: inline;
    font-size: 28px;
    font-size: 1.75rem; }
    @media only screen and (min-width: 700px) {
      .chat-box h1 {
        font-size: 38px;
        font-size: 2.375rem; } }

.header {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0px 15px 0 #333;
  z-index: 2;
  background-color: rgba(36, 70, 180, 0.83); }
  .header__logo, .header__title, .header__nav, .header ul {
    display: inline-block;
    vertical-align: top; }
  .header__logo {
    height: 20px;
    width: 20px;
    margin: 16px 0 0 20px; }
  .header__title {
    color: white;
    padding: 0px 0 0 15px;
    position: relative;
    top: +9px;
    height: 60px;
    display: inline-block;
    width: auto;
    font-size: 24px;
    font-size: 1.5rem; }
  .header__nav__falafel {
    width: 25px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 18px;
    display: block; }
    @media only screen and (min-width: 700px) {
      .header__nav__falafel {
        display: none; } }
  .header__nav p {
    color: white;
    font-family: Futura; }
  .header ul {
    display: none;
    position: absolute;
    right: 0;
    top: 0; }
    @media only screen and (min-width: 700px) {
      .header ul {
        display: block; } }
  .header__nav-item {
    cursor: pointer;
    margin: 0 15px;
    padding: 16px 20px 0;
    height: 60px;
    display: inline-block;
    position: relative; }
    .header__nav-item p {
      margin: 0; }
    .header__nav-item__indicator {
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #E2690E;
      content: ''; }
      .header__nav-item:hover .header__nav-item__indicator, .header__nav-item--active .header__nav-item__indicator {
        opacity: 1; }
      .header__nav-item__indicator > div {
        position: absolute;
        top: -6px;
        left: calc(50% - 6px);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #E2690E; }
    .header__nav-item:hover > div {
      opacity: 1; }

.footer {
  padding: 40px 20px;
  border-top: 1px solid #ddd;
  background-color: #f4f4f4; }
  .footer__logo, .footer__title {
    vertical-align: top;
    display: inline-block; }
  .footer__left {
    text-align: center;
    margin: auto auto 40px auto; }
    @media only screen and (min-width: 700px) {
      .footer__left {
        margin: auto; } }
  .footer__logo {
    width: 45px;
    height: 45px;
    display: inline-block;
    position: relative;
    top: +15px; }
  .footer__title {
    position: relative;
    margin-left: 25px;
    text-align: left; }
    .footer__title h1, .footer__title p {
      margin: 0; }
  .footer__content {
    max-width: 1000px;
    margin: auto; }
  .footer .button {
    display: block;
    margin: 10px auto; }

.hero {
  position: relative;
  height: 100%;
  background-image: url("../images/Green-Grass-26-1200.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 100%; }
  @media only screen and (min-width: 700px) {
    .hero {
      background-position: 0 108%; } }
  .hero__content {
    position: static; }
    @media only screen and (min-width: 700px) {
      .hero__content {
        position: absolute;
        top: 20%;
        left: 18%; } }
  .hero__logo, .hero__text {
    display: block; }
    @media only screen and (min-width: 700px) {
      .hero__logo, .hero__text {
        display: inline-block;
        vertical-align: top; } }
  .hero__logo {
    text-align: center; }
    @media only screen and (min-width: 700px) {
      .hero__logo {
        text-align: left; } }
    .hero__logo img {
      display: inline-block;
      margin: 100px auto 50px auto;
      height: 100px;
      position: relative;
      -webkit-animation: bounce 2.5s ease-in-out infinite;
      -moz-animation: bounce 2.5s ease-in-out infinite;
      -ms-animation: bounce 2.5s ease-in-out infinite;
      -o-animation: bounce 2.5s ease-in-out infinite;
      animation: bounce 2.5s ease-in-out infinite; }
      @media only screen and (min-width: 700px) {
        .hero__logo img {
          height: 150px;
          margin: auto;
          top: +45px;
          left: 0; } }
  .hero__text {
    margin: 0;
    text-align: center; }
    @media only screen and (min-width: 700px) {
      .hero__text {
        margin: 0 0 0 45px; } }
    @media only screen and (min-width: 700px) {
      .hero__text {
        text-align: left; } }
    .hero__text h1, .hero__text p {
      text-align: center; }
      @media only screen and (min-width: 700px) {
        .hero__text h1, .hero__text p {
          text-align: left; } }
    .hero__text h1 {
      margin: 0;
      opacity: 0.87;
      font-size: 36px;
      font-size: 2.25rem; }
      @media only screen and (min-width: 700px) {
        .hero__text h1 {
          font-size: 84px;
          font-size: 5.25rem; } }
    .hero__text p {
      font-family: Futura;
      margin: 3px;
      opacity: 0.77;
      padding-left: 4px;
      line-height: 125%;
      font-size: 22px;
      font-size: 1.375rem; }
      .hero__text p:first-of-type {
        margin-top: 15px; }
      .hero__text p:last-of-type {
        margin-bottom: 15px; }
      @media only screen and (min-width: 700px) {
        .hero__text p {
          margin: 0;
          font-size: 28px;
          font-size: 1.75rem; } }
  .hero .button {
    display: block;
    margin: 35px auto; }
    @media only screen and (min-width: 700px) {
      .hero .button {
        display: inline-block;
        margin: 25px 0 0 5px; } }

.pitch {
  width: 100%;
  background-color: #f4f4f4;
  padding: 60px 20px; }
  @media only screen and (min-width: 700px) {
    .pitch {
      padding: 120px 20px; } }
  .pitch__content {
    max-width: 1000px;
    margin: auto;
    display: block; }
  .pitch .grid__col:last-child {
    border-left: 2px solid #355BD6; }
  .pitch p:first-child {
    margin-top: 0; }
  .pitch p:last-child {
    margin-bottom: 0; }
  .pitch__image img {
    width: 200px;
    height: 200px;
    margin: 0px auto 60px auto;
    display: block;
    border-radius: 100%; }
    @media only screen and (min-width: 700px) {
      .pitch__image img {
        margin-top: 30;
        width: 300px;
        height: 300px; } }

.chat-bar--inactive.chat-bar--left {
  -moz-transform: translateX(-75px);
  -o-transform: translateX(-75px);
  -ms-transform: translateX(-75px);
  -webkit-transform: translateX(-75px);
  transform: translateX(-75px); }

.chat-bar--inactive.chat-bar--right {
  -moz-transform: translateX(75px);
  -o-transform: translateX(75px);
  -ms-transform: translateX(75px);
  -webkit-transform: translateX(75px);
  transform: translateX(75px); }

.chat-bar {
  width: 100%;
  margin: auto;
  padding: 40px 20px;
  opacity: 1; }
  @media only screen and (min-width: 700px) {
    .chat-bar {
      padding: 120px 20px; } }
  .chat-bar--inactive {
    opacity: 0; }
  .chat-bar__content {
    max-width: 1000px;
    display: block;
    margin: auto; }
  .chat-bar__title {
    margin: 0 0 10px 0; }
  .chat-bar__body {
    font-size: 22px;
    font-size: 1.375rem;
    margin: 0 0 30px 0; }
  .chat-bar .feature-box {
    margin-bottom: 25px; }
    @media only screen and (min-width: 700px) {
      .chat-bar .feature-box {
        margin-bottom: 0; } }
  .chat-bar:nth-of-type(2n+0) {
    background-color: #f4f4f4; }

.info {
  width: 100%;
  padding: 0px 20px 50px 20px; }
  @media only screen and (min-width: 700px) {
    .info {
      padding: 0 20px 120px 20px; } }
  .info__content {
    max-width: 1000px;
    display: block;
    margin: auto; }
  .info .grid__col:first-of-type {
    margin-bottom: 25px; }
  .info__button {
    width: 100%; }
    .info__button .big-button {
      margin: 120px auto; }
      @media only screen and (min-width: 700px) {
        .info__button .big-button {
          margin: calc(37.5% - 30px) auto auto auto; } }
  .info .chat-box {
    display: block;
    text-align: center;
    margin: auto auto 20px auto; }
    @media only screen and (min-width: 700px) {
      .info .chat-box {
        margin: auto auto 20px auto; } }
