.button, .big-button {
	cursor: pointer;
	text-align: center;
}

.button {

	width: 120px;
	height: 40px;
	$ppl: palette-get(purple);
	$org: palette-get(orange);

	padding: 4px 6px;

	

	@include font-size(18px);

	font-family: Futura;

	color: $ppl;
	border: 2px solid $ppl;

	&:hover {
		background-color: $org;
		border-color: $org;
		color: white;
	}

}

.big-button {

	cursor: pointer;

	box-shadow: 0px 5px 10px 0 #999;

	width: 180px;
	height: 60px;
	$ppl: palette-get(purple);
	$org: palette-get(orange);

	padding: 9px 6px;

	text-align: center;

	@include font-size(24px);

	font-family: Futura;

	color: white;

	background-color: $ppl;

	&:hover {
		background-color: $org;
		box-shadow: 0px 5px 20px 0 #999;
	}

}