.feature-box {

	width: 100%;

	cursor: pointer;

	padding-top: 100%;

	&--1-to-1 {
		padding-top: 100%;
	}

	&--4-to-3 {
		padding-top: 75%;
	}

	overflow: hidden;
	content: "";
	position: relative;

	& > * {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__background {
		z-index: 0;
		background-size: cover;
	}

	&__title, &__body, &__misc {
		& > div {
			width: 100%;
			height: 100%;
			display: table;
			& > * {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	&__title h1, &__body p {
		padding: 15px 20px;
	}

	&__title {
		background-color: rgba(0, 0, 0, 0.25);
		z-index: 1;

		h1 {
			color: white;
			line-height: 120%;
			text-align: center;
			@include font-size(32px);
		}

		opacity: 1;
		.feature-box:hover & {
			opacity: 0;
		}
	}

	&__body {

		background-color: transparentize(palette-get(orange), 0.15);

		opacity: 0;
		.feature-box:hover & {
			opacity: 1;
		}


		z-index: 1;
		p {
			height: 100%;
			overflow: hidden;
			color: white;
			@include font-size(20px);
		}

	}

}